<component name="ArtifactManager">
  <artifact type="exploded-war" name="Mybatis07_Maven_war:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/Mybatis07_Maven_war_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Mybatis07_Maven_war" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.5" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.6" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: junit:junit:4.10" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.1" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="Mybatis07_Maven_war/web/Web" />
    </root>
  </artifact>
</component>